* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App.js */

.container {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
}

/* Calculator.js */

.cal-con {
  min-width: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 150px 0;
}

#formula {
  grid-column: span 4;
  background-color: gray;
  font-size: 1.5rem;
  padding-left: 10px;
  color: #fff;
}

#formula::placeholder {
  color: #fff;
  text-align: right;
}

#zero {
  grid-column: span 2;
}

.btn {
  height: 9vh;
  margin-top: -1px;
  margin-right: -1px;
  border: 1px solid lightgrey;
}

.btn:hover {
  font-size: 1rem;
}

.btn:active {
  background-color: darkgray;
}

.math-opr {
  background-color: #ff9248;
}

/* GetQuotes.js */

.quote-con {
  padding: 2rem;
  box-shadow: 5px 5px 20px;
}

/* Media Query */

@media screen and (max-width: 920px) {
  .container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 2.5rem auto;
  }

  .cal-con {
    margin: 30px 0;
  }
}
