* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav */

.nav-bar {
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
}

.links {
  display: flex;
  gap: 3rem;
}

.links li {
  list-style-type: none;
}

.break {
  border-right: 2px solid #000;
  padding-right: 2rem;
}

/* Home */

.home-container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 4rem;
}

/* App.js */

.container {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
}

/* Calculator.js */

.main-cal-con {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.do-some {
  align-self: flex-start;
  padding-top: 6rem;
}

.cal-con {
  min-width: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 100px 0;
}

#formula {
  grid-column: span 4;
  background-color: gray;
  font-size: 1.5rem;
  padding-left: 10px;
  color: #fff;
}

#formula::placeholder {
  color: #fff;
  text-align: right;
}

#zero {
  grid-column: span 2;
}

.btn {
  height: 9vh;
  margin-top: -1px;
  margin-right: -1px;
  border: 1px solid lightgrey;
}

.btn:hover {
  font-size: 1rem;
}

.btn:active {
  background-color: darkgray;
}

.math-opr {
  background-color: #ff9248;
}

/* GetQuotes.js */

.quote-con {
  padding: 2rem;
  box-shadow: 5px 5px 20px;
  align-self: center;
  margin-top: 10rem;
}

/* Media Query */

@media screen and (max-width: 920px) {
  .container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  
  .main-cal-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .do-some {
    align-self: center;
    padding-top: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 2.5rem auto;
  }

  .cal-con {
    margin: 30px 0;
    min-width: 375px;
  }

  .quote-con {
    min-width: 375px;
  }
}
